html {
    font-size: 16px;
    font-family: "Noto Serif Dives Akuru", serif;
    background-color: #def5bc;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        /* Una sola columna en pantallas pequeñas */
    }

    .imglogo {
        width: 100%;
    }

    body {
        font-size: 14px;
    }
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        /* Dos columnas en pantallas medianas */
    }

    body {
        font-size: 18px;
    }

}

/* Estilos para pantallas grandes */
@media only screen and (min-width: 1200px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        /* Tres columnas en pantallas grandes */
    }
}

.imglogo {
    position: sticky;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
    gap: 1rem;
}

li a {
    justify-content: space-evenly;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #daf1b9;
}

nav {
    height: auto;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
}

main {
    background-color: #e1f5c4;
    font-family: "Noto Serif Dives Akuru", serif;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;

}

.item {
    flex: 1 1 200px;
    align-items: center;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
    text-align: center;
}

.item:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0px 0px 3px grey;
}

footer {
    background-color: hsla(84, 56%, 81%, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    place-items: center;
    padding: 20px;
    background-color: #e8facc;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: #edf9dc;
    border-radius: 10px;
    padding: 1rem 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
    text-align: center;

}

.review:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0px 0px 3px grey;
}

.stars {
    color: rgba(255, 217, 0, 0.913);
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #e8facc;
}

.h2 {
    margin: 10px;
    border-radius: 10px;
    padding: 1rem;
}

.t1 {
    margin: 10px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10)
}

.t2 {
    background-color: #e8facc;
    margin: 10px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10)
}

.editorial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: #e8facc;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
    width: 50%;
}

.maps {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrito {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

#vaciar-carrito {
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#btnPagar {
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#btnPagar:hover {
    background-color: darkgrey;
}

#vaciar-carrito:hover {
    background-color: darkred;
}

.comprar {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.comprar:hover {
    background-color: darkgrey;
}

#botonEnviar {
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#botonEnviar:hover {
    background-color: darkred;
}

#detalle {
    background-color: #e8facc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    background-color: #e8facc;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
    width: 60%;
}

.resenia {
    display: flex;
    flex-direction: column;
    background-color: #ddf3bf;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-danger {
    width: 50%;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 2rem;
}

.btn-danger:hover {
    background-color: darkred;

}